:root {
    --color-white: #fff;
    --color-black: #000;
    --color-sidebar-bg: #0b1131;
    --color-accent: #6179f2;
    --color-bg: #e5e5e5;
    --color-base: #0c1f31;
    --color-dark-gray: #657380;
    --color-light-gray: #e0e0e0;
}
