.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
    gap: 20px;

    &.checkboxWrapperReverse {
        flex-direction: row-reverse;
    }

    input[type="checkbox"] {
        appearance: none;
        height: 15px;
        width: 15px;
        border-radius: 2px;
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        align-items: center;
        outline: 1px solid var(--color-black);
        margin: 0;

        &::after {
            content: "\2713";
            font-size: 10px;
            font-weight: 800;
            cursor: pointer;
            display: none;
        }

        &:hover {
            outline: 3px solid var(--color-base);
        }

        &:checked {
            outline: 3px solid var(--color-accent);
        }

        &:checked::after {
            display: block;
        }
    }
}

.error {
    position: absolute;
    color: var(--color-error);
    font-size: var(--font-size-small);
    bottom: -20px;
    left: 28px;
}

.label {
    color: var(--color-dark-gray);
    cursor: pointer;
    margin: 0 !important;
}
